{% extends 'base.html' %}
{% load static %}
{% block title %} Detect disease in Leaves {% endblock title %}


{% block body %}
    <div class="body mt-4">
    <form method="POST" action="predict/" enctype="multipart/form-data">
    {{ form.as_p }}
    {% csrf_token %}
        <center>
            <input type="file" id = 'image' class="mt-4 ml-4" name="filepath" required><br>
        </center>
            <button class="btn btn-modified mt-5" type="submit" style="margin-left: 35rem;">Detect Disease</button>
            </button>
    </div>
{% endblock body %}