{% extends 'base.html' %}
{% load static %}
{% block title %} Detect disease in Leaves {% endblock title %}

{% block body %}
<div class="body mt-4">
    <div class="container pt-3 pb-2">
    <div class="row" style="margin-top: 6rem; margin-bottom: 7rem;">
        <div class="random col-lg-5 ml-5">
            <center><img src="{{ filepath }}" class="img-fluid" width="300" height="200"></center>
        </div>
        <div class="col-lg-5 ml-4">
            <div class="custom-title-box">
                <h1>{{ name }}</h1>
                <a href="#details" class="custom-btn-style-1" data-hash >Details</a>
            </div>
        </div>
    </div>
    <div class="row p-2 mt-5 p-2" id="details">
        <ul class="nav nav-tabs justify-content-start">
            <li class="nav-item active"><a class="nav-link active font-weight-bold text-3-4 text-uppercase py-2 px-3" href="#symptoms" data-toggle="tab">Symptoms</a></li>
            <li class="nav-item"><a class="nav-link font-weight-bold text-3-4 text-uppercase py-2 px-3" href="#remedy" data-toggle="tab">Remedy</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane px-0 py-3 active" id="symptoms">
            
                <p>{{ symptom }}</p>
                
            </div>
            <div class="tab-pane px-0 py-3" id="remedy">
                <p>{{ remedy }}</p>
                
            </div>
        </div>
    </div>
    <div class="row mt-4 pl-1">
        <h3 style="text-transform: none;">Other related posts:</h3>
    </div>
{% for Ask2 in post %}
<div class="card row mb-2 p-2">
    <div class="row">
        <div class="col-auto mr-0 pr-0"><img src="{% static 'img/iuser.png' %}" width="50" height="50"
                style="border-radius: 100%;"></div>
        <div class="col-auto pl-2">
            <p style="margin-bottom: 0;">{{Ask2.posted_by}}</p>
            <p style="text-transform: uppercase !important; font-weight: bold !important; margin-bottom: 0; ">{{ Ask2.question_title }}</p>
        </div>
    </div>
    <a href="/question/{{Ask2.qid}}/{{Ask2.slug}}">
        <p>{{Ask2.question_text|safe}} </p>
    </a>
</div>

        {% endfor %}
</div>
</div>
</div>
{% endblock body %}

